# Popular deep learning frameworks running on CPU
onnx
onnxruntime
keras
tensorflow-cpu
mxnet
torch == 1.7.1+cpu 
torchvision == 0.8.2+cpu
torchaudio == 0.7.2
-f https://download.pytorch.org/whl/torch_stable.html
